<footer class="site-footer">
    <div class="footer-columns">

        <div>
            <h4>COMPANY</h4>
            <a href="{% url 'about' %}">About Nexovio</a>
            <a href="{% url 'contact' %}">Contact Us</a>
        </div>

        <div>
            <h4>PRODUCT</h4>
            <a href="/">Compare Mobiles</a>
            <a href="{% url 'wishlist' %}">Wishlist</a>
            <a href="{% url 'alerts_dashboard' %}">Price Alerts</a>
        </div>

        <div>
            <h4>SUPPORT</h4>
            <a href="{% url 'help' %}">Help Center</a>
            <a href="{% url 'report_price' %}">Report Wrong Price</a>
        </div>

        <div>
            <h4>LEGAL</h4>
            <a href="{% url 'privacy' %}">Privacy Policy</a>
            <a href="{% url 'terms' %}">Terms of Use</a>
        </div>

        <div>
            <h4>SOCIAL</h4>

            <a href="https://www.facebook.com/profile.php?id=61585691112195" target="_blank">
                Facebook
            </a>

            <a href="https://www.instagram.com/nexovioapp/" target="_blank">
                Instagram
            </a>

            <a href="https://x.com/nexovioapp" target="_blank">
                X (Twitter)
            </a>

            <a href="https://www.linkedin.com/in/nexovio-app-4352b4398/" target="_blank">
                LinkedIn
            </a>
        </div>

    </div>

    <div class="footer-bottom">
        <span>© 2025 Nexovio. All rights reserved.</span>
    </div>
</footer>
